<link rel="stylesheet" href="{CSS_ADD}index/index.css">
<header>
        <div class="logo">
            <img src="{IMG_ADD}logo.png" alt="佳速">
            <h3>更好更快的互联网开发服务商</h3>
        </div>
        <ul class="menu">
            <li>
                <a href="/htdocs/mvc/index.php">首页</a>
            </li>
            {foreach $menuData as $v}
            <li>
                <a href="/htdocs/mvc/index.php/index/category?cid={$v['cid']}">{$v["cname"]}</a>
                {if isset($v["child"])}
                <ul class="son">
                    {foreach $v["child"] as $v2}
                    <li>
                        <a href="/htdocs/mvc/index.php/index/lists?cid={$v2['cid']}">{$v2["cname"]}</a>
                    </li>
                    {/foreach}
                </ul>
                {/if}
            </li>
            {/foreach}
        </ul>
    </header>
 <div class="swiper">
        <img src="{IMG_ADD}swip.jpg" alt="">
    </div>
