<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{CSS_ADD}admin/bootstrap.css">
    <script src="{JS_ADD}jquery-3.4.1.min.js"></script>
</head>
<body>
    <form action="/htdocs/mvc/index.php/admin/category/uploadfile" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">选择文件</label>
            <input type="file" id="file" name="file">
        </div>
        <input type="submit" value="上传图片">
    </form>

    <script>

    </script>
</body>
</html>