body{
    margin: 0;
    width: 100%;
}
header{
    width: 100%;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

}
.zuo{
    width: 2rem;
    height: 2rem;
    position: relative;
}
.zuo img{
    display: block;
    width: 100%;
    height: 100%;
}
.list{
    height: 50rem;
    width: 20rem;
    background: rgb(66, 104, 207);;
    position: absolute;
    top: -0.49rem;
    left: -0.5rem;
    display: none;
    z-index: 999;
}
.nav{
    height: 50rem;
    width: 10rem;
    background:  rgb(66, 104, 207);;
    float: left;
}
.ex{
    height:50rem;
    width: 50rem;
    float: left;
    /* background-color: rgb(221, 40, 197); */
}

.navv{
    height: 20rem;
    width: 100%;
    /* border-top:0.0005rem solid black ;
    border-bottom: 0.0005rem solid black; */
    margin-top: 0.4rem;
}
.navv li{
    height: 5rem;
    width: 100%;
    /* border-bottom: 0.0005rem solid black; */
    font-size: 1rem;
    text-align: center;
    line-height: 5rem;
    color: white;
}
.zhong{
    width: 5rem;
    height: 2rem;

}
.zhong img{
    display: block;
    width: 100%;
    height: 100%;
}
.you{
    width: 2rem;
    height: 2rem;
}
.you img{
    width: 100%;
    height: 100%;
}
.wheel{
    width: 100%;
    height: 15rem;
    margin-top: 0.3rem;
}
.wheel img{
    width: 100%;
    height: 100%;
}
.word{
    width: 95%;
    /* height: 400px; */
    margin: auto;
    margin-top: 0.3rem;
}
.word ul li{
    list-style-type: none;
    width: 100%;
    height: 150px;
    
    font-size: 30px;
    font-family: simsun;
    text-align: center;
    line-height: 150px;

}
.new{
    width: 100%;
    height: 2300px;
    background-color: rgb(241, 241, 241);


}
.new-top{
    width: 45%;
    height: 100px;
    margin: auto;
    /* margin-top: 80px; */

    padding-top: 60px;
  
}
.new-top div{
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
}
.new ul{
    width: 75%;
    height:530px;
    margin: auto;
    /* background-color: rgb(230, 230, 230); */
}
.every{
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    list-style-type: none;
    background-color: rgb(230, 230, 230);
    /* background-color: cornflowerblue; */
}
.tu{
    width: 200px;
    height: 200px;
    margin: auto;
}
.every img{
    width: 100%;
    height: 100%;
    margin: auto;
}
.zi{
    width: 90%;
    height: 200px;
    margin: auto;
    padding-top: 30px;
    /* background-color: darkgray; */
    text-align: center;
}
.zi div{
    margin-bottom: 10px;

}
.zi div span{
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: simsun;
    font-size: 25px;
}
.new ul li div{

    margin: auto;
}
.more{
    text-align: center;
    
}
.service{
    width: 100%;
    height: 60rem;
}
.service-tu{
    width: 95%;
    height: 50rem;
    margin: auto;
}
.tuu{
    width: 95%;
    height: 25rem;
    /* margin-bottom: rem; */
    margin: auto;
}
.tuu img{
    width: 100%;
    height: 100%;
}
.product{
    width: 100%;
    height: 1650px;
}
.product-tu{
    width: 100%;
    height: 900px;
    margin: auto;
}
.product-tuu{
    width: 100%;
    height: 250px;
    margin: auto;
    /* margin-bottom: 30px; */
}
.product-tuu img{
    width: 100%;
    height: 100%;
    
}
.foot{
    width: 100%;
    height: 950px;
    background-color: black;
}
.foot-one{
    width: 95%;
    height: 400px;
    padding-top: 50px;
    /* background-color: violet; */

}
.foot-one ul li{
    height: 50px;
    border-bottom: 1px solid white;
    font-size: 25px;
    font-family: simsun;
    color: white;
    line-height: 50px;
}
.foot-two{
    width: 500px;
    height: 200px;
    /* background-color: wheat; */
}
.foot-two ul li{
    height: 40px;
list-style-type: none;
    font-size: 20px;
    font-family: simsun;
    color: white;
    line-height: 40px;
}
.foot-three{
    width: 500px;
    height: 200px;
    /* background-color: wheat; */
}
.foot-three ul li{
    height: 40px;
list-style-type: none;
    font-size: 20px;
    font-family: simsun;
    color: white;
    line-height: 40px;
}

